@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/src/fonts/ba9851c3c22cd980-s.woff2) format('woff2');
}

* {
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

.search > div {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

input[type='text'] {
  width: 100%;
  padding: 10px 20px;
  padding-left: 40px;
  font-size: 16px;
  border: 1.5px solid #a3b1d1;
  border-radius: 30px;
  outline: none;
  box-sizing: border-box;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  color: #333;
}

input[type='text']::placeholder {
  color: #999999;
  font-weight: 400;
}

input[type='text']:focus {
  border-color: #5a6eb9;
  box-shadow: 0 0 5px rgba(90, 110, 185, 0.5);
}

.searchIndicator {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #666666;
  width: 20px;
  height: 20px;
}

.header {
  text-align: center;
}

h2 {
  color: #5a6eb9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  margin-bottom: 10px;
  color: #e0e0e0;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
}

.comment-Habsida {
  animation-delay: 0s;
  background-color: #5a6eb9;
}

.comment-hint {
  animation-delay: 0.5s;

  background-color: #5a6eb9;
}

.autocompleteList {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.autocompleteList li {
  cursor: pointer;
  list-style-type: none;
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-left: 40px;
  border: 1px solid transparent;
}

.autocompleteList li:hover {
  border: 1px solid #5a6eb9;
  border-radius: 3px;
}

.savedRepositories-wrapper {
  color: #e0e0e0;
  background-color: #445592;
  display: flex;
  margin-top: 200px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
}

.headerforSavedList {
  padding-top: 10px;
}

.savedRepositoriesList {
  max-height: 200px;
  overflow: auto;
  position: relative;
}

.savedRepositoriesList li {
  list-style: none;
  padding: 5px;
}

button {
  z-index: 100;
  color: #e0e0e0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
