$bgColor: #24292e;
$text: #fff;

@import url(/src/scss/style.css);

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/src/fonts/ba9851c3c22cd980-s.woff2) format('woff2');
}
